$main-cursor: url('/assets/cursors/centered-click/main.cur'), auto;
$alt-cursor: url('/assets/cursors/centered-click/alt.cur'), auto;
$red-eye: url('/assets/cursors/red-eye.cur'), auto;
$syringe: url('/assets/cursors/syringe.cur'), auto;
$bknife: url('/assets/cursors/bknife.cur'), auto;