@font-face {
    font-family: "gravedigger";
    src: url("../../assets/fonts/gravedigger-font/GravediggerPersonalUse-K7ayW.ttf");
}

@font-face {
    font-family: "deadwax";
    src: url("../../assets/fonts/deadwax-font/DeadwaxDemoRegular-L3Y4E.ttf");
}


@font-face {
    font-family: "blxd";
    src: url("../../assets/fonts/creepy-bloody-font/CreepyBloodyRegular-pgRw1.ttf");
}

@font-face {
    font-family: "mountainking";
    src: url("../../assets/fonts/mountain-king-font/MountainKingRegular-woBYn.ttf");
}